---
import Logo from '../assets/fuel-pad-logo-sin-fondo.png';
import Flames from '../assets/orange_flame.png'

import Button from './buttons/button.vue';
import Ido from './buttons/ido.vue';
---

<div class="justify-items-center">
	<div class="flex justify-between items-center w-[80%] py-3">
		<img src={Logo.src} class='w-[150px] h-[90px]' alt="" />
		<Button client:load></Button>
	</div>
	<div class='relative flex flex-wrap h-auto flex-col lg:flex-row  justify-between p-2 items-center w-3/4 my-12 bg-red-900 rounded-2xl overflow-hidden'>
		<div class="absolute bottom-3 right-0 lg:top-0 lg:-right-14 z-1">
			<img class="w-36 lg:w-96 z-0"  src={Flames.src} alt="fuel flames" />
		</div>
		<div class=" relative p-2 text-center lg:text-left text-pretty z-5">
			<h1 class='text-white text-3xl lg:text-6xl z-5'><span class='font-bold drop-shadow-lg text-[#FA140A]'>Ignite</span> your project on FUEL</h1>
			<h2 class='text-white text-md lg:text-lg mt-1 z-5'>Find and access the best 100% equal investment opportunities</h2>
			<div class='flex justify-evenly items-center mt-4 z-5'>
				<Ido client:load></Ido>
			</div>
		</div>
	</div>
</div>
<!-- 
<div class="ml-[10%]">
	<h1 class="text-white">Latest Updates</h1>
</div>-->
